@font-face {
    font-family: 'Segoe';
    src: url('segoeuil.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe';
    src: url('segoe-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-B.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-M.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
    src: url('helvetica.orf');
    font-weight: 500;
    font-style: normal;
}